---
title: Welcome to Middleman
my_list:
  - one
  - two
  - three
---

<div class="welcome">
  <h1><%= data.home.title %></h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
  <p>
    <%= data.home.content %>
    <ul>
      <% current_page.data.my_list.each do |f| %>
        <li><%= f %></li>
      <% end %>
  </p>
</div>
